*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(images/background.png);
    background-attachment: fixed;
}




/*HEADER*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: rgb(12, 12, 12);
    border-bottom: 2px solid white;
}

#alogo{
    grid-column: 2;
}

#logo{
    display: block;
    width: 66px;
    padding-left: 10px;
    padding-left: 30%;
}

/*MENU DEROULANT*/

nav{
    width: 100%;
    margin: 0 auto;
    position : sticky;
    top: 0px;
    grid-column: 3/8;
    font-size: 1.5em;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 20px 0px;
}

nav a:hover{
    color:rgb(255, 193, 6);
    border-bottom: 2px solid rgb(255, 6, 76);
    transition-duration: 200ms;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(49, 49, 49);
    position: absolute;
    width: 100%;
    z-index: 1000;
    font-size: 20px;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content: "▼";
    font-size: 15px;
}

#connexion{
    color: white;
    text-decoration: none;
    grid-column: 8;
    padding: 25px 0px;
    text-align: center;
}

#connexion:hover{
    color: rgb(255, 6, 76);
    transition-duration: 200ms;
}




/*MAIN*/

main{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, 0.418);
    border-right: 3px solid white;
    border-left: 3px solid white;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

h1{
    font-size: 3em;
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(255, 193, 6);
}

h2{
    font-size: 2em;
    grid-column: 1/3;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(255, 6, 76);
}

p{
    text-align: justify;
    line-height: 1.75em;
    margin-bottom: 50px;
}

#p1{
    grid-column: 1/3;
}

main img{
    width: 100%;
    grid-column: 3;
    grid-row: 2/4;
}

.p2{
    grid-column: 1/4;
}

/*FOOTER*/

footer{
    background-color: rgb(12, 12, 12, 0.800);
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

footer img{
    width: 30px;
    margin-top: 10px;
    margin-left: 50%;
    grid-column: 2;
}

footer p{
    color: white;
    margin-top: 15px;
}